.e404 {
    text-align: center;
    padding: 50px;
}

.e404 h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.e404 p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.e404 .btn1 {
max-width: 200px;
}