:root {
    font-family: "Montserrat", sans-serif;
    color: #0454bd;
    background-color: #F7F7F7;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}